#shares, .tab {
	display: inline;
}

.tab {
	margin-right: 15px;
}

.info {
	margin-left: 10px;
	display: inline-block;
}

#provider
{
    text-transform: capitalize;
}

#results {
	width: 70%;
	margin: 0 auto;
	border-top: 1px dotted #CCC;
}

#results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#results ul li {
	width: 100%;
	padding: 0 20px;
	background: #EEE;
	padding-bottom: 10px;
	height: 110px;
	overflow: hidden;
	border-bottom: 1px dotted #CCC;
	
	-webkit-animation: myanim 1s;
	-moz-animation: myanim 1s;
	-o-animation: myanim 1s;
	animation: myanim 1s;
	
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

#results li:hover {
	background: #FFFCE5;
	min-height: 110px;
	height: 250px;
	overflow: visible;
}

#results h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	padding-bottom: 5px;
	padding-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #BF5841;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 10px;
}

#results img {
	float: left;
	width: 80px;
	margin-right: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px grey;
}

@-webkit-keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@-moz-keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@-o-keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}